@media (max-width: 945px){
  .team__block{
    justify-content: flex-start;
  }
}

@media (max-width: 856px){

  .advantages__blok{
    margin: 20px 0 0;
    flex-basis: 49%;
  }
}

@media (max-width: 857px){
  .visibl-lg{
    display: none;
  }
  
  .hamburger-menu{
    display: flex;
  }

  h1{
    font-size: 30px;
  }
.portfolio__block h2{
  font-size: 25px;
}

.advantages__blok h2{
  font-size: 20px;
}

.team h2{
  font-size: 25px;
}

}

@media (min-width: 858px){
  .hamburger-menu{
    display: none;
  }
  .advantages__blok{
    flex-basis: 30%;
  }
}

@media (max-width: 960px){
  .wrapper {
      margin: 0 15px 0 15px;
  }
}